<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{.Title}}</title>
</head>
<body>
<p>{{.Nickname}} 님, 섬띵모어 계정의 패스워드를 초기화해드렸습니다.</p>
<p>새로운 패스워드는 <strong>{{.Password}}</strong> 입니다.</p>
<p>다시 사이트를 방문하셔서 로그인해주시기 바랍니다. <a href="https://www.somethingmore.co.kr">섬띵모어 홈</a></p>
</body>
</html>
